/* Importa a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Define a fonte padrão para todo o projeto */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* Remove margem padrão */
    padding: 0;
    /* Remove padding padrão */
    box-sizing: border-box;
    /* Inclui padding e bordas nas dimensões do elemento */
}