/*Paleta de cores

#A9C9D4
#E8C4C6 - bege/rosa
#FBF2ED - bege
#F244C4 - pink
*/

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #FBF2ED;
}

.formulario{
  background-color: #E8C4C6;
  border-radius: 5%;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

