.imgContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #fbf2ed;
}

.img {
    max-width: 30%; 
    height: auto;
    border-radius: 15px;
}

.center {
    margin: 0 auto;
}

