/* Remove a margem e o padding do corpo da página */
body {
    margin: 0;
    padding: 0;
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 120px;
    background-color: #F244C4;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Estilo do logo */
.navbar-logo {
    height: 80px;
}

/* Contêiner dos botões */
.navbar-buttons {
    display: flex;
}

/* Estilo dos botões */
.navbar-button {
    background: #F6729C;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button:hover {
    background-color: #e55c8d;
    /* Cor de fundo ao passar o mouse */
    color: white;
    /* Cor do texto ao passar o mouse */
}